*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 
   html,body{
      font-family: 'Roboto', sans-serif; 
      scroll-behavior: smooth;
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
      overflow-x: hidden;
   }

 body button{
     background-color: transparent !important;
     border: 1px solid #ebb861 !important;
     transition: all .5s;
 }  

 body button:hover{
     background-color:#ebb861 !important;
     color: black !important;
 }

main{
    background-color: black;
}
 
 header{
     position: fixed;
     top:0px;
     width: 100%;
     z-index: 3;
     background-color:rgb(0, 0, 0)
 }

  nav ul .nav-link:hover{
  background-color: #ebb861;
  }

  nav img ,footer img{
      width: 50px;
  }

  nav .navbar-brand{
      font-family: 'Dancing Script',cursive;
  }

   .carousel img{
    max-height: 100vh;
    min-height: 80vh;
   }
   
   .carousel{
       background-color: rgb(0, 0, 0);    
       height: 90vh;
       width: 100%;
   }


   .carousel-item img{
      width: 100%;
      max-width: 400px;
      margin: auto;
   }

   .carousel-caption{
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       background-color: rgba(0,0,0,0.8);
       z-index: 1 !important;
   }

   .carousel-item{
       padding: 0px 10px;      
   }


   .carousel h1{
       color: #ebb861;
       padding: 10px;
   }

   .carousel p{
       color:white;
   }

  

   .carousel-indicators .active{
       background-color: #ebb861;
   }

 
   .margin i{
    padding: 10px;
    border-radius: 50%;
    background-color: #ebb861;
   }

   #about{
       background-color: black;
   }

   #about p,q{
       color: rgb(148, 147, 147);
   }

   #about img{
      -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);
      transform: perspective(800px) rotateY(20deg);
      transform-origin: center;
   }

   .jumbo{
       background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/photo-1512830414785-9928e23475dc.webp");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       padding: 100px 0px;
       background-attachment: fixed;
       color:white
   }

   .accordian{
       margin: 5px 0px;
   }
   .accordian button{
       background-color:transparent;
       border: 1px solid #ebb861;
       width: 100%;
       text-align: start;
       color: rgb(255, 255, 255);
       padding: 5px;
       position: relative;
   }
  
  .accordian i{
      position: absolute;
      right: 3px;
      top:30%;
  }
   
  .services{
      background-color: black;
      color: white;
     
  }

   .services .row>div{
       border: none;
       border: 1px solid transparent;
       position: relative;
       overflow: hidden;
       transition:all 0.5s;
       padding: 10px 0px;
       margin: auto;
   }

   .services .row .tb{
       position: absolute;
       top:0px;
       height: 3px;
       width: 0px;
       left: 0px;
       background-color: #ebb861;
       transition: 1s;
   }

   .services .row div:hover .tb{

    width: 0px;
    left: 0px;
    width: 100%;

}

.services .row .lb{
    position: absolute;
    top:0px;
    height: 0px;
    width: 3px;
    left: 0px;
    background-color: #ebb861;
    transition: 1s;
}

.services .row div:hover .lb{
height: 100%;

}


.services .row .rb{
    position: absolute;
    bottom:0px;
    height: 0px;
    width: 3px;
    right: 0px;
    background-color: #ebb861;
    transition: 1s;
}

.services .row div:hover .rb{
height: 100%;
}


.services .row .bb{
    position: absolute;
    bottom:0px;
    height: 3px;
    width: 0px;
    right: 0px;
    background-color: #ebb861;
    transition: 1s;
}

.services .row div:hover .bb{
 width:100%;
}

  


   .accordian p{
       box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
       height: 0px;
       overflow: hidden;
       transition: all 0.5s;
       color: rgb(0, 0, 0);
       transition: 0.5s;
       background-color: white;
   
       
   }

   .accordian.show p{
       height: 130px;
       padding: 10px 0px;
       box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
       
   }


   .accordian.show .fa-plus{
   display: none;
   }

   .card{
       margin: 5px auto;
       text-align: center;
       transition: .5s;
       border:none;
       border-radius: 10px;
       background-color: transparent;
       transition: 1s;


   }


  
   .card-header{
       overflow: hidden;
       position: relative;
       width: 100%;
       max-width: 300px;
       margin: auto;
   }

   .card-body{
       background-color:#ebb861;
       width: 100%;
       height: 100%;
       color: rgb(0, 0, 0); 
       transform: translateY(-100%);
       position: absolute;  
       transition: 0.5s;
       top:0px;
       left:0px;
       z-index: 1;

   }
   .card:hover .card-body{
         transform: translateY(0%);
   }
      .card-header .before{
       position: absolute;
       width: 100%;
       height: 50px;
       background-color: rgb(255, 255, 255);
       bottom: 0px;
       left: 0px;
       transform: translateY(100%);
       transition: 0.5s;
       z-index:2;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .card-header .before i{
       color: rgb(0, 0, 0);
   }

  .card:hover .card-header .before{
       transform:translateY(0%);
   }




   .card:hover img{
      transform: scale(1.3);
   }

   .card img{
       width: 100%;
       transition: .5s;
       transform: scale(1.4);
   }


   
   .test-cont{
       width: 300%;
      transition: 1s;
   }



   .test{
       width: 100%;
       margin: 20px;
       padding: 50px 0px;
       background-color:#ebb861;
       border-top-left-radius:80px;
       border-top-right-radius:80px;
       border-bottom-left-radius:80px;
       border-bottom-right-radius:80px;
       box-shadow:0px 5px 10px 0px rgba(0,0,0,0.2);
       position: relative;
       transition: all 1s;
       color: rgb(0, 0, 0);
   }
 

   .test img{
       position:absolute;
       width: 60px;
       height: 60px;
       background-color: red;
       border-radius: 50%;
       top:-20px;
       left: 50%;
       transform: translate(-50%);
   }

   .test p q{
       color: black !important;
   }

   .testperent{
       overflow-x: hidden;
   }
   
   .testimonial {
    background-image:linear-gradient(to top right,rgba(0, 0, 0, 0.89),black);
      color: white;
      position: relative;
      
   }

   .testimonial .indicators{
       position: absolute;
       bottom:20px;
       display: flex;
       justify-content: center;
       width: 100%;
   }

   .testimonial .indicators span{
       border: 1px solid white;
       width: 20px;
       height: 20px;
       margin:10px;
       border-radius: 50%;
       cursor: pointer;
   }

   .testimonial .indicators span:first-child{
       background-color:#ebb861;
   }

  

   .contect{
  background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("img/189-1894227_dope-old-school-raw-freestyle-cypher-underground-street.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0px;
  background-attachment: fixed;
   }

   footer{
       background-color: black;
   }

   .moveupside{
       background-color:#ebb861;
       position: fixed;
       bottom: 20px;
       right: 20px;
       border-radius: 50%;
       z-index: 2;
       display: none;
       color: black;
   }

   .moveupside i{
       font-size: 1.5rem;
   }


   @keyframes ani{
       0%{
           transform: translate(0%);
       }

       18%{
           transform: translate(0%);
       }

       36%{
           transform: translate(-33.33%);
       }

       54%{
           transform: translate(-33.33%);
       }

       75%{
           transform: translate(-66.66%);
       }
      100%{
           transform: translate(-66.66%);
       }
   }

   
   @media(min-width:"576px"){
      html{
          font-size: 75%;
      }
   }

   @media(min-width:"768px"){
      html{
          font-size: 80%;
      }
       

   }

   @media(min-width:"992px"){
      html{
          font-size: 90%;
      }
       
       
   }

   @media(min-width:"1200px"){
      html{
          font-size: 100%;
      }
       
       
   }

   @media(max-width:576px){
       header{
           position: static;
           background-color: black;
       }

       .carousel img{
        max-height: 100vh;
        min-height: 75vh;
       }
   }
